* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.form-container {
  width: 100vw;
  height: 60px;
  background: linear-gradient(45deg, #eaeaea, rgba(174, 157, 157, 0.7));
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
}

.search-form input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 3px solid #e06666;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  background: rgba(234, 234, 234, 0.7);
}

.search-form input::placeholder {
  color: grey;
  font-size: 14px;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0px;
  width: 90px;
  height: 40px;
  border: none;
  background: #e06666;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.btn-container {
  text-align: center;
  padding-bottom: 15px;
}

.load-more {
  font-size: 16;
  width: 120px;
  height: 40px;

  border: none;
  background: #e06666;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 1px 3px #0003, 0 1px 1px #00000024, 0 2px 1px -1px #0000001f;
}

.load-more:hover,
.search-btn:hover {
  background-color: #cc0000;
  box-shadow: 0 0 10px #e06666, 0 0 20px #e06666, 0 0 40px #e06666;
}
.wrapper {
  padding-left: 30px;
}
.wrapper-link {
  color: black;
}
.wrapper-link:hover {
  color: #cc0000;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.gallery {
  margin: 75px auto 15px;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, max-content));
  grid-auto-rows: 240px;
  grid-gap: 25px;
}

.photo-card {
  display: grid;
  grid-template-rows: 80%;
  color: darkslategrey;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.photo-card > img:hover {
  transform: scale(1.05);
}

.photo-card > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-item {
  font-size: 13px;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.info-item > span {
  font-size: 12px;
}
